*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: myfont;
  scroll-behavior: smooth;
  font-weight: 400;
  font-display: optional;
}

html {
  scroll-behavior: smooth;
}
p {
  font-family: myfont2;
}

@font-face {
  font-family: myfont;
  src: url(../FOnts/Melodrama-Regular.otf);
}
@font-face {
  font-family: myfont2;
  src: url(../FOnts/GeneralSans-Light.otf);
}

.heropage {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(../Images/pexels-yura-forrat-12022650.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  scroll-snap-align: start;
}

.header {
  width: 100%;
  display: flex;
  height: 100px;
  background-color: transparent;
}
.toggle {
  display: none;
}

::placeholder {
  font-family: myfont2;
}

.navlinks {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
}
.navlinks a {
  text-decoration: none;
  color: rgb(241, 241, 241);
  font-family: myfont2;
}

.links a:hover {
  color: #a42525;
}

.links {
  display: flex;
  gap: 50px;
}

.links a {
  transition: 0.3s;
}

.logo {
  color: white;
}
.logo p {
  font-size: 15px;
}

.assets {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  align-items: end;
  padding-right: 90px;
  gap: 250px;
  height: 100%;
  justify-content: space-around;
}

.assets h1 {
  display: flex;
  font-size: 80px;
  font-weight: 300;
}
input {
  outline: #1a1a1a;
}

.textsh1 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.assets h2 {
  display: flex;
  font-size: 50px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  gap: 7px;
}

.actionline {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: end;
  cursor: pointer;
}

.line {
  display: flex;
  width: 500px;
  height: 2px;
  background-color: white;
}
.actionline h1 {
  font-size: 40px;
  transition: 0.3s;
}
.actionline h1:hover {
  color: #af2525;
}

.achievementsection {
  width: 100%;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  scroll-snap-align: start;
}

.threesections {
  width: 100%;
  display: flex;
  gap: 20px;
}

.section1 {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.breakline {
  width: 100%;
  height: 0.5px;
  background-color: rgb(163, 163, 163);
}

.content h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.content p {
  font-family: myfont2;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.bodysection {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(99, 99, 99);
}

.twosections {
  width: 100%;
  display: flex;
  height: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.sectionone {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  gap: 30px;
}
p {
  font-weight: 300;
}

.sectionone2 {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sectiontwo {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.subtext {
  display: flex;
  gap: 20px;
}

.sectext {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectext2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sectext2 h1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.sectext h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
}
.subtext p {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.subtexts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.subtext img {
  width: 3%;
  object-fit: contain;
  display: none;
}

.section2 {
  width: 100%;
}

.sectiontwo img {
  width: 53%;

  object-fit: contain;
  border-radius: 25px;
}

.twosectionss {
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);
  flex-direction: row-reverse;
}

.bodysection2 {
  scroll-snap-align: start;
  width: 100%;
  height: 90vh;
  display: flex;
  background-color: rgb(99, 99, 99);
}

.partnersection {
  display: flex;
  width: 100%;
  height: 30vh;
  background-color: rgb(0, 0, 0);
}
.passets {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pline {
  width: 90%;
  height: 1px;
  background-color: rgb(82, 82, 82);
  align-items: center;
  justify-content: center;
  display: flex;
}

.plogos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 70%;
}

.plogos img {
  width: 8%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 4/4;
}

.processection {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  padding: 40px;
}

.h1tag {
  width: 100%;
  justify-content: center;
  display: flex;
  color: white;
  height: 15vh;
}

.h1tag h1 {
  font-size: 27px;
}
.h1tag span {
  font-size: 50px;
}

.twoprocessdiv {
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 30px;
}

.processdiv1 {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #851c1c;
  margin-top: 60px;
  padding: 20px;
  transition: 0.4s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 7px;
}

.foursec {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}

.sec1 h1 {
  display: flex;
  padding-left: 60px;
  color: white;
  margin-top: 50px;
}

.sec2 {
  width: 100%;
  justify-content: center;
  display: flex;
}

.sec2 img {
  width: 10%;
  object-fit: contain;
}

.sec3 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.sec3 h1 {
  font-size: 40px;
}
.sec4 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 17px;
  text-align: center;
}

.sec4 p {
  font-size: 18px;
}

.processdiv2 {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 60px;
  padding: 20px;
  transition: 0.4s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 7px;
}
.processdiv2:hover {
  transform: scale(1.03);
}

.processdiv1:hover {
  transform: scale(1.03);
}

.sec1-2 h1 {
  display: flex;
  padding-left: 60px;
  color: rgb(0, 0, 0);
  margin-top: 50px;
}

.sec3-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.sec3-2 h1 {
  font-size: 40px;
}

.sec4-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}

.sec4-2 p {
  font-size: 18px;
}

.singleprocesssection {
  display: none;
  height: 100%;
  justify-content: center;
  background-color: black;
  padding: 20px;
}

.projectsection {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

.twoprojects {
  width: 100%;
  display: flex;
  margin-top: 80px;
}

.project1 {
  display: flex;
  width: 100%;
  height: 100%;
}

.project2 {
  display: flex;
  width: 100%;
  height: 100%;
}

.contents {
  padding-left: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  margin-top: 70px;
}

.contents h1 {
  display: flex;
  width: 100%;
  color: white;
  font-size: 50px;
}

.viewall {
  width: 130px;
  height: fit-content;
  padding: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #851c1c;
  border: 1px solid black;
  display: flex;
  transition: 0.4s;
  align-self: flex-start;
}
button.viewall {
  border-radius: none;
}

.viewall:hover {
  background-color: transparent;
  border: 1px solid rgb(96, 96, 96);
}
.pcontent {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: white;
  font-size: 18px;
}
.pcontent p {
  font-size: 20px;
}

.threeprojectboxes {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 25px;
  flex-direction: column;
  align-items: center;
}

.pbox1 {
  width: 95%;
  height: 213px;
  background-color: white;
  border-radius: 33px;
  transition: 0.4s;
  cursor: pointer;
}

.threeprojectboxes a {
  display: flex;
  justify-content: center;
}
.pbox1:hover {
  transform: scale(1.021);
}

.pdivision {
  display: flex;
  width: 100%;
  height: 100%;
}

.p1 {
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.p1 img {
  object-fit: cover;
}

.p2 {
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%;
  display: flex;
}

.threeaspects {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.aspect1 {
  display: flex;
  width: 150px;
  height: 40px;
  box-shadow: 0px 5px 15px #b8b8b8;
  border-radius: 30px;
}
.aspect1 h1 {
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 25px;
  align-items: center;
}

.aspect3 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.aspect3 img {
  width: 6%;
  height: 100%;
  object-fit: contain;
}

.breakline {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(62, 62, 62);
  margin-top: 0px;
}

.breaksectionline {
  width: 100%;
  display: none;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.pcontent p {
  color: rgb(234, 234, 234);
}

.testimonysection {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.testimonyh1 h1 {
  color: black;
}

.testimonydiv {
  width: 100%;
  display: flex;
  height: 100%;
}

.testimonydiv1 {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  flex-direction: column;
  padding: 55px;
  justify-content: center;
}

.testimonyassets p {
  color: black;
}

.testimonyh1 {
  color: whte;
  color: white;
  justify-content: center;
  width: 100%;
  display: flex;
  height: 15vh;
  align-items: center;
}

.testimonyassets {
  width: 100%;
  font-size: 20px;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.testimonyline {
  width: 1px;
  height: 70%;
  background-color: rgb(99, 99, 99);
  justify-content: center;
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  align-self: center;
}
.testimonyassets img {
  width: 6%;
  object-fit: contain;
}

.prefooter {
  width: 100%;
  height: 70vh;
  background-image: url(../Images/pexels-joshua-135018.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}

.preasset1 {
  width: 100%;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.prefooterassets {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.letstalk {
  width: 300px;
  height: fit-content;
  padding: 30px;
  border-radius: 300px;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  gap: 5px;
  transition: 0.4s;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.letstalk:hover {
  background-color: #851c1c;
  color: white;
  mix-blend-mode: inherit;
  border: 1px solid transparent;
}

.letstalk img {
  width: 15%;
  object-fit: contain;
  height: 100%;
}

.footersection {
  display: flex;
  background-color: #101010;
  width: 100%;
  color: #ffffff;
}

.purplebox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fourfooters {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.footer1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 15px;
  width: 100%;
}

.footer1 img {
  width: 30%;
  padding-left: 10px;
}

input {
  padding: 10px;
  border: 0px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-family: myfont2;
}

.inputsec {
  display: flex;
  gap: -3px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

button {
  padding: 13px;
  border: 1px solid rgb(34 34 34);
  background-color: #000000;
  color: white;
  width: 105px;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 30px;
}

button:hover {
  background-color: #851c1c;
  border: 1px solid transparent;
}
.footerborder {
  border: 0.2px solid rgb(34, 34, 34);
  width: 100%;
}

.lastfooter {
  display: flex;
  background-color: #101010;
  width: 100%;
  color: #ffffff;
  height: 20vh;
}

.footerassets {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.footerassets img {
  width: 8%;
  object-fit: contain;
}

.footer1 a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1208px) {
  .p1 img {
    object-fit: cover;
    width: 85%;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }

  .viewall {
    align-self: center;
  }
  .twoprojects {
    flex-direction: column;
  }
  .toggle {
    display: flex;
    justify-content: end;
  }

  .toggle img {
    width: 10%;
    object-fit: contain;
    cursor: pointer;
  }
  .twoprocessdiv {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contents {
    padding-left: 0;
    align-items: center;
  }

  .pcontent {
    text-align: center;
  }

  .contents h1 {
    justify-content: center;
  }

  .threeprojectboxes {
    align-items: center;
    justify-content: center;
  }

  .aspect2 h1 {
    font-size: 29px;
  }

  .h1tag span {
    font-size: 45px;
  }

  .sectext h1 {
    font-size: 30px;
  }

  .sectext2 h1 {
    font-size: 30px;
  }

  .subtext {
    gap: 10px;
  }

  .subtext p {
    font-size: 17px;
  }

  .section2 img {
    width: 50%;
  }

  .sectionone {
    padding-left: 30px;
  }

  .content h1 {
    font-size: 25px;
  }

  .content p {
    font-size: 14px;
  }

  .line {
    width: 250px;
    height: 1px;
  }

  .line h2 {
    font-size: 25px;
  }
  .actionline h1 {
    font-size: 30px;
  }

  .assets h1 {
    font-size: 42px;
  }

  .assets h2 {
    font-size: 35px;
  }

  .links {
    display: none;
  }

  .assets {
    padding-right: 20px;
  }

  .threeprojectboxes {
    gap: 30px;
    padding: 45px;
  }

  .p1 {
    width: 100%;
  }

  .threeaspects {
    align-items: center;
  }

  .aspect3 img {
    display: none;
  }

  .aspect3 {
    gap: 0px;
  }

  .threeaspects {
    padding-left: 0px;
  }

  .processdiv1 {
    width: 65%;
  }

  .processdiv2 {
    width: 65%;
  }

  .testimonydiv {
    flex-direction: column;
  }

  .testimonyh1 {
    margin-top: 30px;
  }

  .prefooter {
    height: 100vh;
  }

  input {
    padding: 10px;
  }

  .testimonysection {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .prefooter {
    height: 70vh;
  }
  @font-face {
    font-family: myfont2;
    src: url(../FOnts/GeneralSans-Light.otf);
  }

  .footerassets img {
    width: 10%;
  }

  .plogos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .plogos img {
    width: 15%;
  }
  .pbox1:hover {
    transform: none;
  }
  p {
    font-weight: 100;
  }
  .dummylinks {
    display: none;
  }

  .toggle {
    display: flex;
    justify-content: end;
  }

  .navactive {
    display: flex;
    position: absolute;
    top: 61px;
    flex-direction: column;
    padding: 20px;
    width: 98%;
    background-color: white;

    text-align: end;
    animation: mymove forwards 1s ease-in;
    color: black;
    height: 40vh;
  }

  .navactive a {
    color: black;
  }

  @keyframes mymove {
    from {
      top: 50px;
    }
    to {
      top: 80px;
    }
  }

  .toggle img {
    width: 10%;
    object-fit: contain;
    cursor: pointer;
  }
  .processdiv1 {
    width: 100%;
    height: 100%;
  }
  .aspect1 {
    width: 100px;
    height: fit-content;
    padding: 10px;
  }
  .aspect1 h1 {
    font-size: 20px;
  }

  .aspect3 p {
    font-size: 13px;
  }

  .threeaspects {
    padding-left: 0px;
  }

  .sec1 h1 {
    margin-top: 0px;
    padding-left: 0px;
    font-size: 25px;
  }

  .foursec {
    gap: 10px;
  }

  .processdiv2 {
    height: 100%;
    width: 100%;
    margin-top: 50px;
  }

  .sec3-2 h1 {
    font-size: 30px;
  }

  .sec3 h1 {
    font-size: 30px;
  }

  .sec1-2 h1 {
    padding-left: 0px;
    font-size: 25px;
    margin-top: 0px;
  }

  .twoprocessdiv {
    padding: 20px;
  }

  .contents h1 {
    font-size: 35px;
  }

  .h1tag span {
    font-size: 35px;
  }

  .achievementsection {
    height: 100%;
    background-color: #ffff;
  }

  .threesections {
    flex-direction: column;
    gap: 30px;
  }

  .assets h1 {
    font-size: 33px;
    font-weight: 200;
  }

  .assets h2 {
    font-size: 32px;
    font-weight: 200;
  }
  .line {
    width: 50%;
  }

  .navlinks a {
    font-size: 13px;
  }

  .textsh1 {
    gap: 2px;
  }

  .content h1 {
    font-size: 25px;
    color: black;
  }

  .content p {
    font-size: 13px;
    color: black;
  }

  .sectext {
    margin-top: 35px;
  }

  .sectext h1 {
    font-size: 30px;
    justify-content: center;
    display: flex;
    font-weight: 200;
  }

  .content {
    margin-top: 10px;
  }

  .sectionone {
    padding-left: 0px;
    margin-top: 30px;
  }

  .subtexts {
    padding-left: 0px;
  }

  .subtexts {
    gap: 20px;
  }
  .subtext {
    justify-content: center;
  }
  .subtext p {
    font-size: 15px;
  }

  .sectiontwo img {
    width: 70%;
  }

  .bodysection {
    height: 100%;
  }

  .bodysection2 {
    height: 100%;
  }

  .twosectionss {
    gap: 40px;
  }
  .sectext2 {
    margin-top: 0px;
  }

  .subtexts {
    gap: 20px;
  }

  .sec4 p {
    font-size: 14px;
    color: #e0e0e0;
  }

  .sec4-2 p {
    font-size: 14px;
    color: #2c2c2c;
  }

  .twosections {
    flex-direction: column;
    gap: 30px;
  }

  .twosectionss {
    flex-direction: column-reverse;
  }

  .sectext2 h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 200;
  }

  .sectionone2 {
    justify-content: center;
  }

  .sectiontwo {
    margin-top: 30px;
  }

  .pbox1 {
    border-radius: 7px;
    height: 100%;
  }

  .pdivision {
    flex-direction: column;
    height: 100%;
  }

  .aspect3 {
    gap: 0px;
  }

  .aspect3 img {
    display: none;
  }

  .p1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .p1 img {
    object-fit: cover;
    width: 95%;
    padding: 15px;
    border-radius: 50px;
    transition: 0.4s;
  }

  .p1 img:hover {
    transform: scale(1.045);
  }

  .threeaspects {
    justify-content: none;
    gap: 30px;
  }

  .pcontent p {
    font-size: 15px;
  }

  .project1 {
    height: 100%;
  }

  .contents {
    margin-top: 0px;
  }
  .aspect3 p {
    padding-bottom: 10px;
  }

  .aspect2 h1 {
    font-size: 25px;
  }

  .pbox1 {
    width: 80%;
  }

  .processdiv1 {
    margin-top: 0px;
  }

  .h1tag {
    margin-top: 0px;
  }

  .sectionone {
    height: 100%;
    justify-content: none;
    gap: 40px;
  }

  .sectionone2 {
    gap: 40px;
  }

  .passets {
    margin-top: 35px;
  }

  .section1 {
    padding: 15px;
  }
  h1 {
    font-weight: 100;
  }
  .testimonydiv {
    flex-direction: column;
  }

  .testimonyassets {
    font-size: 15px;
  }

  .testimonyh1 h1 {
    font-size: 30px;
  }

  .testimonysection {
    height: 100%;
  }

  .testimonyline {
    width: 80%;
    height: 1px;
    background-color: rgb(92, 92, 92);
  }
  .testimonyassets img {
    width: 9%;
    object-fit: contain;
  }

  .preasset1 h1 {
    font-size: 38px;
  }

  .letstalk {
    width: 200px;
    padding: 20px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .letstalk img {
    width: 15%;
  }

  .h1tag {
    align-items: center;
  }

  .footer1 p {
    font-size: 13px;
  }

  .lastfooter {
    height: 10vh;
  }
  .fourfooters {
    flex-direction: column;
    gap: 30px;
  }

  .footerassets {
    font-size: 13px;
  }

  .newsection {
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding: 30px;
  }

  .footer1 img {
    width: 15%;
    padding-left: 0px;
  }
  .imgassets h2 {
    font-size: 30px;
  }

  .imgassets {
    gap: 15px;
  }

  .imgassets p {
    font-size: 15px;
  }
  a .twoimages {
    flex-direction: column;
  }

  p {
    font-weight: 400;
  }
}

@media screen and (max-width: 376px) {
  .preasset1 h1 {
    font-size: 30px;
  }
  .assets h1 {
    font-size: 25px;
  }
  .assets h2 {
    font-size: 25px;
  }

  .subtext p {
    font-size: 11px;
  }
  .navlinks a {
    font-size: 9px;
  }

  .sec4 p {
    font-size: 11px;
    color: #e0e0e0;
  }

  .sec4-2 p {
    font-size: 11px;
    color: #2c2c2c;
  }

  .pcontent p {
    font-size: 12px;
  }

  .aspect2 h1 {
    font-size: 19px;
  }

  .sec3-2 h1 {
    font-size: 25px;
  }

  .sec3 h1 {
    font-size: 25px;
  }
}
